<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/javascript.js"></script>
    </head>
  <body>
    <h1>Home Page</h1>

    <ul class="nav-bar">
      <li><a href="/" class="home-button w3-button" >Inicio</a></li>
      <li><a href="/contacto" class="contact-button w3-button">Contacto</a></li>
    </ul>

    <p>Es es el index de la aplicacion</p>

    <p class="parrafo-especial">
      Lorem ipsum dolor sit amet, <strong>un texto en negrita</strong> consectetur adipisicing elit. Expedita enim
      maxime nostrum labore rerum laboriosam, dolorum atque dolor dolorem, illo
      similique. Eveniet autem architecto excepturi facere tenetur omnis minus
      nihil!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic obcaecati
      alias ut laborum dolorum eligendi maxime. Voluptas quam dolor eaque
      corrupti sequi adipisci qui in. Voluptatem a qui officia eligendi!
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum assumenda
      ipsam ex officia, molestiae beatae necessitatibus. Ex alias neque possimus
      laborum quasi iste magnam velit? Repellendus numquam repellat molestias
      cupiditate.
    </p>
  </body>
</html>
